Data/phenoData.csv
Data/magnet_raw_counts.csv
Data/GTEx_Analysis_2017-06-05_v8_RNASeQCv1.1.9_gene_reads.gct
Data/GTEx_Analysis_v8_Annotations_SampleAttributesDS.txt
Data/GTEx_Analysis_v8_Annotations_SubjectPhenotypesDS.txt